<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Comece a se Planejar</ion-card-subtitle>
    <ion-card-title>Planejamento</ion-card-title>
    <ion-icon style="position: absolute; margin-left: 40px;  margin-top: 10px; height: 30px;width: 30px;" name="analytics-outline"></ion-icon>
    <div style="text-align: right;">
      <ion-button href="#">Clique</ion-button>
    </div>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Qual é o prato de hoje?</ion-card-subtitle>
    <ion-card-title>Prato do Dia </ion-card-title>
    <ion-icon style="position: absolute; margin-left: 40px;  margin-top: 10px; height: 30px;width: 30px;" name="restaurant-outline"></ion-icon>
    <div style="text-align: right;">
      <ion-button href="pratododia">{{ datass }}</ion-button>
    </div>
  </ion-card-header>
</ion-card>